.info-list ul {
    padding: 0.5rem;
}

.info-list ul li {
    margin: 0.5rem 0;
    list-style: none;
    border-left: 3px solid lightblue;
    padding: 0.5rem;
    box-shadow: 0 0 5px gray;
    border-radius: 4px;
}