label.top {
    display: block;
    margin-top: 0.5rem;
}

section.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.contact-method--wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    max-width: 100%;
}

input[type=text], input[type=email], input[type=tel], textarea {
    padding: 0.2rem;
    border: 2px solid gray;
    border-radius: 4px;
    width: 15rem;
    max-width: 100%;
}

.hide {
    visibility: hidden;
}

.user-info {
    position: relative;
}

.contact_email, .contact_phone {
    position: absolute;
    margin-top: 1rem;
    max-width: 100%;
}

.card-shadow {
    background: transparent;
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 3px gray;
}

@media screen and (min-width: 50rem){
    input[type=text], input[type=email], input[type=tel], textarea {
        width: 35rem;
    }
}