*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-family: sans-serif;
    background-color: aliceblue;
    text-align: center;
    display: block;
    margin: 0.5rem 0;
}

.taskController {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.3rem;
}

.addTaskBtn {
    font-size: 1.5rem;
    background-color: darkblue;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
}

#tasks {
    border: 1px solid black;
    margin: 0.5rem 0.5rem 0;
    padding: 0.2rem;
}

#tasks li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.checkbox {
    border: 1px solid rgb(11, 19, 87);
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 3px;
}

.removeButton {
    font-family: sans-serif;
    background-color: rgb(207, 25, 25);
    color: whitesmoke;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border-radius: 4px;
}

.taskText {width: 100%;}

.taskFooter {
    margin: 0 0.5rem 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-top: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taskFilter span {
    margin: 0 0.2rem;
    padding: 0.2rem;
    font-size: 0.9rem;
}

div.checkbox.marked {
    color: white;
    background-color: green;
    text-align: center;
}

div.taskText.marked {
    text-decoration: line-through;
    opacity: 30%;
}

span.selected {
    border: 1px solid darkblue;
    border-radius: 3px;
}

@media screen and (min-width: 30rem) {
    #tasks, .taskFooter {
        max-width: 25rem;
        margin: 0 auto;
    }
    .taskController {
        max-width: 25rem;
        margin: 0.5rem auto;
    }
}